<!DOCTYPE html>
<html>
<head>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <link rel="stylesheet" href="../../../static/behavior.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
</head>
<body class="content wrapper">
    <div style="background-color:white; padding:0 2% 0 2%; height: 100%; flex:1;overflow: auto;">

    <div style="text-align:center;">
        <button style="font-size:12px; float: right;" onclick="window.location.href='https://zcemycl.github.io/'">Back to About</button>
        <h2>Tech Exploration and Implementation</h2>
    </div>
    <hr>
    <h3>Pin Table</h3>
        <table>
            <tr>
                <th>Abbrev.</th>
                <th>Function</th>
                <th>Description</th>
            </tr>
            <tr>
                <th>MCU</th>
                <th>Micro-processor Unit</th>
                <th></th>
            </tr>
            <tr>
                <th>GND</th>
                <th>Ground</th>
                <th></th>
            </tr>

            <tr>
                <th>MOSI</th>
                <th>Master Out Slave In</th>
                <th>The data is transmitted from Master to Slave.</th>
            </tr>

            <tr>
                <th>MISO</th>
                <th>Master In Slave Out</th>
                <th>The data is transmitted from Slave to Master.</th>
            </tr>

            <tr>
                <th>ADJ</th>
                <th>Adjustable Voltage Regulators</th>
                <th></th>
            </tr>


            <tr>
                <th>VCC</th>
                <th>Voltage Common Collector</th>
                <th></th>
            </tr>


            <tr>
                <th>PWM</th>
                <th>Pulse Width Modulation</th>
                <th></th>
            </tr>

            <tr>
                <th>I2C</th>
                <th>Inter-Integrated Circuits</th>
                <th></th>
            </tr>


            <tr>
                <th>SDA</th>
                <th>Serial Data</th>
                <th>Bidirectional data line that is used by I2C</th>
            </tr>

            <tr>
                <th>SCL</th>
                <th>Serial Clock</th>
                <th>To indicate that data is ready on bidirectional data line that is used by I2C.</th>
            </tr>

            <tr>
                <th>DQ</th>
                <th>Data Input/Output</th>
                <th></th>
            </tr>

            <tr>
                <th>TTL</th>
                <th>Transistor-Transistor Logic</th>
                <th></th>
            </tr>
            <tr>
                <th>TX</th>
                <th>Transmit</th>
                <th>To transmit TTL serial data.</th>
            </tr>

            <tr>
                <th>RX</th>
                <th>Receive</th>
                <th>To receive TTL serial data.</th>
            </tr>

            <tr>
                <th>NC</th>
                <th>No Connect</th>
                <th></th>
            </tr>

            <tr>
                <th>AREF</th>
                <th>Analog Read Reference</th>
                <th></th>
            </tr>

            <tr>
                <th>FM</th>
                <th>Female-Male</th>
                <th></th>
            </tr>

            <tr>
                <th>EN</th>
                <th>Enable</th>
                <th></th>
            </tr>

            <tr>
                <th>DIO</th>
                <th>Digital Input Output</th>
                <th></th>
            </tr>




        </table>
    </div>
    
    <script src="static/behavior.js"></script>
</body>
</html>
