<!DOCTYPE html>
<html>
<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
    <style>
      body{background-color:black;color:white;height:100%;font-family:Arial,Helvetica,sans-serif;}
      /*h3{color:#00ff2b}*/
      a{color:#337AB7;font-weight:bold;text-decoration:none;}
      pre code {
        color:white;
        border: 1px solid #999;
        display: block;
        padding: 5px 10px;
        white-space:pre-wrap;
        word-wrap:break-word;

      }
      table{width:100%}
      td,tr,th{border:1px solid white;}
      td,th{width:25%;}
      div.formula{overflow-x:scroll;border:1px solid white;}

    </style>
</head>
<body class="content wrapper">
    <div style="background-color:black; color:white; padding:0 2% 0 2%; height: 100%; flex:1;overflow: auto;">

    <h3>Spacy</h3>
    <hr>
    <h4>Installation</h4>
    <p>Install spacy and its models via, (there is a gpu version as well)</p>
    <pre><code>
pip install spacy
python -m spacy download en_core_web_{sm,md,lg} # small, medium or large
    </code></pre>
    <h4>Pipeline components</h4>
    <div style="text-align:center">
    <img src="https://user-images.githubusercontent.com/13643239/55229632-dbff9480-521d-11e9-8499-efb2a9c948db.png" width="60%">
    </div>
    <pre><code>
import spacy
nlp = spacy.load('en_core_web_sm')
doc = nlp('Larry Page founded Google')    
for token in doc:
    print(token.text) # Larry\nPage\n...
    </code></pre>
    <p>Other attirbutes,</p>
    <ol>
    <li>Index: <code>token.i</code></li>
    <li>Alphabet or not: <code>token.is_alpha</code></li>
    <li>Punctuation or not: <code>token.is_punct</code></li>
    <li>Number or not:<code>token.like_num</code></li>
    <li>Part of Speech Tagging: <code>token.pos</code> (id) <code>token.pos_</code> (tag name)</li>
    </ol>

    <h4>Named Entity Recognition (NER)</h4>
    <p><code>token.ent_type_</code></p>
    <div style="text-align:center">
    <img src="https://user-images.githubusercontent.com/13643239/52234151-443a9580-28c1-11e9-831a-9adee3ec87b1.png" width="50%">
    </div>
    <pre><code>
from spacy import displacy
displacy.render(doc, style="ent")
    </code></pre>



    <h4>Dependency Parsing</h4>
    <p><code>token.dep_</code></p>
    <div style="text-align:center">
    <img src="https://user-images.githubusercontent.com/13643239/52234132-38e76a00-28c1-11e9-82e6-e5d6b4a7f339.png" width="50%">
    </div>
    <pre><code>
doc = nlp("This is a sentence")
displacy.render(doc, style="dep")
    </code></pre>

    <h4>Rule-based matching/ phrase matcher</h4>
    <pre><code>
from spacy.matcher import Matcher
matcher = Matcher(nlp.vocab)
pattern = [{"LOWER": "new"}, {"LOWER": "york"}]
matcher.add('CITIES', None, pattern)
matches = matcher(doc)
for match_id, start, end in matches:
     # Get the matched span by slicing the Doc
     span = doc[start:end]
     print(span.text)
    </code></pre>

    <h4>Word vectors and similarity</h4>
    <p>Only available in medium or large models.
<code>
doc1.similarity(doc2)
</code>
    </p>

    <h4>Help function</h4>
    <p><code>spacy.explain('NNP')</code></p>






    <h3>References</h3>
    <hr>
    <ol>
    <li><a href="https://www.youtube.com/watch?v=THduWAnG97k&t=2493s">YouTube -- Advanced NLP with spaCy - A free online course</a></li>
    <li><a href="https://spacy.io/">spaCy - Industrial-strength Natural Language Processing in Python</a></li>
    <li><a href="https://www.machinelearningplus.com/nlp/training-custom-ner-model-in-spacy/">How to Train spaCy to Autodetect New Entities (NER) [Complete Guide]</a></li>
    <li><a href="https://spacy.io/usage">Install spaCy</a></li>
    <li><a href="https://spacy.io/usage/rule-based-matching">spaCy Usage Documentation- Rule-based matching</a></li>
    </ol>
    </div>
    <script type="text/javascript" async
      src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>
    <script type="text/javascript" src="https://zcemycl.github.io/static/eqresp.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
    <script>mermaid.initialize({startOnLoad:true});</script>

    
</body>
</html>
