<!DOCTYPE html>
<html>
<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
    <style>
      body{background-color:black;color:white;height:100%;font-family:Arial,Helvetica,sans-serif;}
      /*h3{color:#00ff2b}*/
      a{color:#337AB7;font-weight:bold;text-decoration:none;}
      pre code {
        color:white;
        border: 1px solid #999;
        display: block;
        padding: 5px 10px;
        white-space:pre-wrap;
        word-wrap:break-word;

      }
      table{width:100%}
      td,tr,th{border:1px solid white;}
      td,th{width:25%;}
      div.formula{overflow-x:scroll;border:1px solid white;}

    </style>
</head>
<body class="content wrapper">
    <div style="background-color:black; color:white; padding:0 2% 0 2%; height: 100%; flex:1;overflow: auto;">

    <h3>Master Method</h3>
    <hr>
    <div style="text-align:center;">
    <img src="../../resources/master.png" style="width:80%">
    </div>
    <p>Consider, a problem with an input of size \(n\) is being solved with a Divide and Conquer method, so that the problem is divided into smaller subproblems, and the subproblem is recursively solved.</p>
    $$
    T(n) \leq aT(\frac{n}{b})+\mathcal{O}(n^d) 
    = \begin{cases}\mathcal{O}(n^d)&\text{if }a\lt b^d\\ 
        \mathcal{O}(n^d\log n)&\text{if }a=b^d \\
        \mathcal{O}(n^{\log_b a})&\text{if }a\gt b^d \end{cases}
    $$
    <p>where \(T(n)\) the runtime function, assume that \(T(1) = c \leq \mathcal{O}(1)\) the basic operation is a constant time, \(a\) the number of recursive call, \(b\) how each input is divied into smaller part, \(d\) the complexity of operation outside the recursive call. For level \(j\), the number of subproblem is \(a^j\), each subprolem has an input of size \(n/b^j\), and there are \(\log_b n\) levels.</p>
    <p>Upper bound on the work at level \(j\), 
    \(\qquad a^j\cdot c\bigg[\frac{n}{b^j}\bigg]^d=cn^d\bigg[\frac{a}{b^d}\bigg]^j\)
    </p>
    <p>Total work done, \(\qquad cn^d\sum^{\log_b n}_{j=0}\big[\frac{a}{b^d}\big]^j\)</p>
    <p>If \(a=b^d\),</p>
    <div class="formula">
    \begin{align*}
cn^d\sum^{\log_b n}_{j=0}\big[\frac{a}{b^d}\big]^j = 
cn^d\sum^{\log_b n}_{j=0}1^j = cn^d(\log_bn+1)\leq \mathcal{O}(n^d\log n)
    \end{align*}
    </div>
    <p>If \(a\gt b^d\), \(r^N \gg r \gt 1\), with the use of geometric sequence, </p>
    <div class="formula">
    \begin{align*}
& cn^d\sum^{\log_b n}_{j=0}\big[\frac{a}{b^d}\big]^j = 
cn^d \frac{1-r^{N}}{1-r} \approx cn^d \bigg[\frac{a}{b^d}\bigg]^{\log_b n}\\
& =cn^da^{\log_b n}b^{-d\log_bn} = cn^dn^{-d}a^{\log_bn} = ca^{\log_bn} = cn^{\log_ba}\leq \mathcal{O}(n^{\log_b a})
    \end{align*}
    </div>
    <p>If \(a\lt b^d\), \(r^N\rightarrow 0\),</p>
    <div class="formula">
    \begin{align*}
& cn^d\sum^{\log_b n}_{j=0}\big[\frac{a}{b^d}\big]^j \approx \frac{cn^d}{1-r}\approx c'n^d \leq \mathcal{O}(n^d)
    \end{align*}
    </div>
    <p>Examples</p>
    <ol>
    <li>Merge Sort, \(a=2, b=2 ,d=1\), \(T(n)\leq \mathcal{O}(n\log n)\)</li>
    <li>Binary Search, \(a=1, b=2 ,d=0\), \(T(n)\leq \mathcal{O}(\log n)\)</li>
    <li>Karatsuba without Gauss, \(a=4, b=2 ,d=1\), \(T(n)\leq \mathcal{O}(n^{\log_2 4}=n^2)\)</li>
    <li>Karatsuba with Gauss, \(a=3, b=2 ,d=1\), \(T(n)\leq \mathcal{O}(n^{\log_2 3=1.59})\)</li>
    <li>Strassen's Matrix Multiplication, \(a=7, b=2 ,d=2\), \(T(n)\leq \mathcal{O}(n^{2.81})\)</li>
    <li>Fictitious recurrence, \(a=2, b=2 ,d=2\), \(T(n)\leq \mathcal{O}(n^2)\)</li>
    <li>QuickSort, \(T(n)\leq\mathcal{O}(n\log n)\) in average, \(\mathcal{O}(n^2)\) at worst. </li>
    <li>RSelect, average \(\mathcal{O}(n)\), worst \(\mathcal{O}(n^2)\).</li>
    </ol>
    <h3>References</h3>
    <hr>
    </div>
    <script type="text/javascript" async
      src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>
    <script type="text/javascript" src="https://zcemycl.github.io/static/eqresp.js"></script>

    
</body>
</html>
