<!DOCTYPE html>
<html>
<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
    <style>
      body{background-color:black;color:white;height:100%;font-family:Arial,Helvetica,sans-serif;}
      /*h3{color:#00ff2b}*/
      a{color:#337AB7;font-weight:bold;text-decoration:none;}
      pre code {
        color:white;
        border: 1px solid #999;
        display: block;
        padding: 5px 10px;
        white-space:pre-wrap;
        word-wrap:break-word;

      }
      table{width:100%}
      td,tr,th{border:1px solid white;}
      td,th{width:25%;}
      div.formula{overflow-x:scroll;border:1px solid white;}

    </style>
</head>
<body class="content wrapper">
    <div style="background-color:black; color:white; padding:0 2% 0 2%; height: 100%; flex:1;overflow: auto;">

    <h3>Blender Installation</h3>
    <hr>
    <ol>
    <li>Click Show Applications in Ubuntu</li>
    <li>Search Blender, click it and install.</li>
    <li>What to expect? Once you installed and opened it, it should with a cube.</li>
    </ol>
    <h4>Basic Operations</h4>
    <ul>
    <li>When hovering different windows, the shortcut key does different things.</li>
    <li>Hover around the box, press a and then x to delete.</li>
    <li>Add a new object, like a plane, press Add &#8594 Mesh &#8594 Plane.</li>
    <li>To adjust the size of the plane, press the very small leftarrow on the right bar, it will show vertical tabs Item Tool and View. Press Item, and see Transform, adjust with that.</li>
    <div style="text-align:center;">
    <img src="../../resources/expand.png" style="height:25vh;">
    <img src="../../resources/expandafter.png" style="height:25vh;">
    </div>
    <li>Make sure the scale is 1 by, press Object &#8594 Apply (Ctrl A) &#8594 Scale.</li>
    <li>Change the view. Press the compass x y z, or press the middle roller at the mouse and scroll, to rotate the view.</li>
    <li>Press Shift + Middle Roller + Scroll, to translate the view left right up down.</li>
    <li>Zoom, just scroll the middle roller at the mouse.</li>
    <li>Change the color of the plane. </li>
    <div style="text-align:center;">
    <img src="../../resources/shading.png" style="height:25vh;">
    </div>
    </ul>
    <h5>Subdivide, Trigulation and Sculpt</h5>
    <ol>
    <li>Go to Modeling, make sure Edit Mode</li>
    <li>Select the plane by pressing A</li>
    <li>Right click the plane, press Subdivide, click the window at the bottom,  type 64 to Number of Cuts.</li>
    <li>Go to Face, click Triangulate Faces (Ctrl T).</li>
    <li>Back to Sculpting, use draw to start reshaping the landscape by holding left key of mouse.</li>
    <div style="text-align:center;">
    <img src="../../resources/sculpt.png" style="height:25vh;">
    </div>
    <li>There is a mirror function. You can turn it off, by finding the butterfly symbol with XYZ. Toggle off it.</li>
    <li>Holding left key + Ctrl to lower the depth. Normally, without ctrl it raises up the terrain.</li>
    <li>Export to fbx file. Tick Apply Transform. Click Export FBX.</li>
    </ol>
    <h3>References</h3>
    <hr>
    <ol>
    <li><a href="https://vitux.com/how-to-install-blender-3d-on-ubuntu/">How to Install Blender 3D on Ubuntu 18.04</a></li>
    <li><a href="https://docs.blender.org/manual/en/latest/getting_started/installing/index.html">Installing Blender</a></li>
    <li><a href="https://docs.blender.org/manual/en/latest/">Blender 2.91 Reference Manual</a></li>
    <li><a href="https://www.youtube.com/watch?v=tH46sGwAFfo">How to Move Around in Blender: Viewport Navigation.</a></li>
    </ol>
    </div>
    <script type="text/javascript" async
      src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>
    <script type="text/javascript" src="https://zcemycl.github.io/static/eqresp.js"></script>

    
</body>
</html>
