<!DOCTYPE html>
<html>
<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
    <style>
      body{background-color:black;color:white;height:100%;font-family:Arial,Helvetica,sans-serif;}
      /*h3{color:#00ff2b}*/
      a{color:#337AB7;font-weight:bold;text-decoration:none;}
      pre code {
        color:white;
        border: 1px solid #999;
        display: block;
        padding: 5px 10px;
        white-space:pre-wrap;
        word-wrap:break-word;

      }
      table{width:100%}
      td,tr,th{border:1px solid white;}
      td,th{width:25%;}
      div.formula{overflow-x:scroll;border:1px solid white;}

    </style>
</head>
<body class="content wrapper">
    <div style="background-color:black; color:white; padding:0 2% 0 2%; height: 100%; flex:1;overflow: auto;">

    <h3>Blender Techniques</h3>
    <hr>
    <h4>Scrape</h4>
    <ul>
    <li>Under Layout, create a sphere, with add &#8594 Mesh &#8594 Ico Sphere. At the left bottom corner, set subdivisions to 4, and adjust radius.</li>
    <li>To flatten a surface, you can use Scrape under Sculpting. </li>
    <li>See the right hand side, adjust the brush, go to Advanced, tick Normal and Plane, untick Accumumlate. Falloff &#8594 Set to Sphere.</li>
    </ul>
    <h4>Collider from duplicate</h4>
    <ul>
    <li>Press A to select the mesh, Shift+D right click to duplicate. Make sure your not in edit mode, but object mode.</li>
    <li>Add Modifier &#8594 Decimate &#8594 Reduce Ratio to 0.05. It allows less computation when dealing with collision. Tick Triangulate. Next to camera icon, use the down arrow to apply.</li>
    <li>Export FBX, Selected Objects only, Apply Transform.</li>
    </ul>

    <h4>Create n-sided shape</h4>
    <ul>
    <li>Under Layout Object Mode, add mesh Circle.</li>
    <li>Click ~ to quickly adjust orthogonal view.</li>
    <li>Under Add Circle option at left bottom, adjust vertices to n. (5 in this case)</li>
    <li>Use Tab to switch to Edit Mode.</li>
    <li>Ctrl+R to subdivide each edge. Scroll up and down to increase and decrease the number of even subdivision.</li>
    <li>Click on these icons, to switch to either Vertex or Edge or Face. </li>
    <li>Shift + left click, to select multiple edges.</li>
    <div style="text-align:center;">
    <img src="../../resources/edgevertexfacemode.png" style="height:10vh">
    </div>

    <li>Press X again and select what you want to delete. (Edges)</li>
    <li>Hit E key to expand, hit Y to lock expanding along y axis, press Ctrl and scroll to expand along grid points.</li>
    <li>Switch Face select mode, shift to select faces, press E to expand again. Press 1 to expand 1m.</li>
    <li>To position the object relative to center, not on top of the origin, knock it down half a meter via, press A to select the whole object, then adjust it using Transform.</li>
    </ul>


    <h4>Duplicate and Rotate Around</h4>
    <ul>
    <li>Press the icon looks like a dart board. Set to 3D Cursor, this allows the rotation relative to the center of cursor.</li>
    <li>If you set the 3D cursor not at center accidentially, Shift+C to reset.</li>
    <div style="text-align:center;">
    <img src="../../resources/rotatearound.png" style="height:10vh">
    </div>
    <li>Press A to select all objects.</li>
    <li>Press Shift+D to duplicate.</li>
    <li>Press R to rotate. Type any angle you want.</li>
    </ul>


    <h4>Select whole object</h4>
    <ul>
    <li>You cannot just use select box to select the whole 3d objects.</li>
    <li>You can turn on the toggle X ray, by clicking the icon of two layers.</li>
    <div style="text-align:center;">
    <img src="../../resources/toggleXray.png" style="height:10vh">
    </div>
    <li>Then drag the box to include the whole object.</li>
    </ul>


    <h4>Apply Rotation</h4>
    <ul>
    <li>Under Object Mode, Ctrl+A and Rotation to apply Rotation.</li>
    </ul>

    <h4>Select Invert</h4>
    <ul>
    <li>Select objects that are inverted to your select objects. Go Select &#8594 Ctrl+I.</li>
    </ul>

    <h4>Array Modifier</h4>
    <ul>
    <li>Object Mode &#8594 Add &#8594 Plain Axes. This creates an empty object.</li>
    <li>Go to Transform, Z: 36 degrees.</li>
    <li>Go to Wrench icon, Add Modifier &#8594 Array &#8594 Uncheck Relative Offset #8594 Check Object Offset &#8594 Expand Object Offset &#8594 Drag Empty from Collection to Object under Object Offset &#8594 Increase Count.</li>
    <li>Apply.</li>
    </ul>

    <h4>Numberpad for orthogonal angle adjustment</h4>
    <ul>
    <li>Front Orthographic - 1, Right Orthographic - 3, Top Orthographic -7.</li>
    </ul>



    <h4>Import reference images</h4>
    <ul>
    <li></li>
    </ul>

    <h4></h4>
    <ul>
    <li></li>
    </ul>
    <h4></h4>
    <ul>
    <li></li>
    </ul>
    <h3>References</h3>
    <hr>
    </div>
    <script type="text/javascript" async
      src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>
    <script type="text/javascript" src="https://zcemycl.github.io/static/eqresp.js"></script>

    
</body>
</html>
