<!DOCTYPE html>
<html>
<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
    <style>
      body{background-color:black;color:white;height:100%;font-family:Arial,Helvetica,sans-serif;}
      /*h3{color:#00ff2b}*/
      a{color:#337AB7;font-weight:bold;text-decoration:none;}
      pre code {
        color:white;
        border: 1px solid #999;
        display: block;
        padding: 5px 10px;
        white-space:pre-wrap;
        word-wrap:break-word;

      }
      table{width:100%}
      td,tr,th{border:1px solid white;}
      td,th{width:25%;}
      div.formula{overflow-x:scroll;border:1px solid white;}

    </style>
</head>
<body class="content wrapper">
    <div style="background-color:black; color:white; padding:0 2% 0 2%; height: 100%; flex:1;overflow: auto;">

    <h3>Database Overview</h3>
    <hr>
    <h4>Terminology</h4>
    <div style="text-align:center;">
    <div class="mermaid" style="background-color:white; max-width:80vw">
    graph LR
      A[Database] --> B[Relational];
      B --> I(Table with foreign ID);
      A --> C[Non-relational];
      B -->|Language| D(SQL Structured Query Language);
      B -->|Managed by| E(Relational Database Management Systems RDBMS);
      E --> F(mySQL,postgreSQL,mariaDB);
      E --> Z(UI client);
      Z --> Y(phpMyAdmin, pgAdmin, popSQL);
      B --> X(Cloud service);
      X --> W(AWS RDS);
      C --> X;
      X --> V(AWS S3);
      C -->|Managed by| G(Non-RDBMS);
      G --> H(mongoDB,dynamoDB);
      C --> J(JSON, Graph, Hash);
    </div>
    </div>

    <ul>
    <li>Database Management System (DBM) is a database program. It is a software system that uses a standard method of cataloging, retrieving, and running queries on data.</li>
    <li>The PostgreSQL is a database engine implementing SQL standards. It usually listen as a server on a network tcp port to provide its abilities. The pgAdmin is a sort of client. You are able to manipulate schema and data on an instance or multiple instances of PostgreSQL engines. The MS Windows instalation package consists of both PostgreSQL server and PgAdmin client. So far right after the instalation you are able to manage your databases.</li>
    <li>Queries are requests made to the database management system for specific information.</li>
    <li>CRUD: Create, read, update and delete.</li>
    <li>Foreign key is a field in the table that is primary key in another table.</li>
    <li>Primary key uniquely identify a record in the table.</li>
    <li>Data structure diagram (DSD) is a diagram of the conceptual data model which documents the entities and their relationships, as well as the constraints that connect to them. </li>
    <li>phpMyAdmin+MySQL \(\approx\) pgAdmin+PostgreSQL</li>
    <li>SQL a hybrid language: Data Query Language, Data Definition Language, Data Control Language, Data Manipulation Language.</li>
    </ul>

    <h3>References</h3>
    <hr>
    <ol>
    <li><a href="https://mermaid-js.github.io/mermaid/#/">About Mermaid</a></li>
    <li><a href="https://markdownmonster.west-wind.com/docs/_5ef0x96or.html">Markdown Monster Documentation -- Rendering Mermaid Charts</a></li>
    <div class="mermaid" style="background-color:white; width:20vw">
    graph LR
      A --- B
      B-->C[fa:fa-ban forbidden]
      B-->D(fa:fa-spinner);
    </div>
    <li><a href="https://codepen.io/Ryuno-Ki/pen/LNxwgR">Mermaid Demo</a></li>
    <li><a href="https://techterms.com/definition/dbms">TechTerms: DBMS</a></li>
    <li><a href="https://stackoverflow.com/questions/38703378/difference-between-pgadmin-and-postgresql/38703520">Difference between pgAdmin and PostgreSQL</a></li>
    <li><a href="https://www.youtube.com/watch?v=HXV3zeQKqGY">YouTube: SQL Tutorial - Full Database Course for Beginners</a></li>
    <li><a href="https://www.dotnettricks.com/learn/sqlserver/difference-between-primary-key-and-foreign-key">Difference between Primary Key and Foreign Key</a></li>
    <li><a href="https://en.wikipedia.org/wiki/Data_structure_diagram">Wikipedia: Data structure diagram</a></li>
    <li><a href="https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/USER_ConnectToInstance.html">Connecting to a DB instance running the MySQL database engine</a></li>
    <li><a href="https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/USER_ConnectToPostgreSQLInstance.html">Connecting to a DB instance running the PostgreSQL database engine </a></li>
    <li><a href="https://realpython.com/tutorials/databases/">Python Database Tutorials</a></li>
    </ol>
    </div>
    <script type="text/javascript" async
      src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>
    <script type="text/javascript" src="https://zcemycl.github.io/static/eqresp.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
    <script>mermaid.initialize({startOnLoad:true});</script>

    
</body>
</html>
