<!DOCTYPE html>
<html>
<head>

    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
    <style>
      body{background-color:black;color:white;height:100%;font-family:Arial,Helvetica,sans-serif;}
      /*h3{color:#00ff2b}*/
      a{color:#337AB7;font-weight:bold;text-decoration:none;}
      pre code {
        color:white;
        border: 1px solid #999;
        display: block;
        padding: 5px 10px;
        white-space:pre-wrap;
        word-wrap:break-word;

      }
      table{width:100%}
      td,tr,th{border:1px solid white;}
      td,th{width:25%;}

    </style>
</head>
<body class="content wrapper">
    <div style="background-color:black; color:white; padding:0 2% 0 2%; height: 100%; flex:1;overflow: auto;">

    <h3>Electronic Parts</h3>
    <hr>
    <p>This is a note to record the parts' names since it is slow to search the parts without knowing their names. Just decide to mark them down for future convenience.</p>
    <div style="text-align:center;">
      <figure>
        <img src="https://www.hobbytronics.co.uk/image/cache/data/pololu/t_connector_pair-500x500.jpg" style="width:35%">
        <img src="https://ae01.alicdn.com/kf/HTB1mdrIOXXXXXXgaXXXq6xXFXXXd/Wholesale-1-Pair-Of-XT60-XT30-XT-60-XT-90-Male-Female-Bullet-Connectors-Plugs-For.jpg" style="width:35%">
        <img src="https://www.picotech.com/images/uploads/library/topics/_med/USB-Connector-Types.jpg" style="width:70%">
        <figcaption>Left: Plug T Connector pair, Right: XT90 XT60 XT30 Connector pairs, Bottom: Different types of usb connector. </figcaption>
      </figure>
    </div>
    <p>Those connectors can be connected a big battery like LiPo one, they don't burn and heat up easily. The usb connector is for me to connect with some flight controllers. </p>
    
    <div style="text-align:center;">
      <figure>
        <img src="https://www.allaboutcircuits.com/uploads/articles/5.1_Introduction_to_Integrated_Circuits3_.jpg" style="width:35%">
        <figcaption>Integrated Circuit (IC) </figcaption>
      </figure>
    </div>



    <div style="text-align:center;">
      <figure>
        <img src="" style="width:35%">
        <figcaption> </figcaption>
      </figure>
    </div>
    <h3>References</h3>
    <hr>
    </div>

    
</body>
</html>
