<!DOCTYPE html>
<html>
<head>

    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
    <style>
      body{background-color:black;color:white;height:100%;font-family:Arial,Helvetica,sans-serif;}
      /*h3{color:#00ff2b}*/
      a{color:#337AB7;font-weight:bold;text-decoration:none;}
      pre code {
        color:white;
        border: 1px solid #999;
        display: block;
        padding: 5px 10px;
        white-space:pre-wrap;
        word-wrap:break-word;

      }
      table{width:100%}
      td,tr,th{border:1px solid white;}
      td,th{width:25%;}

    </style>
</head>
<body class="content wrapper">
    <div style="background-color:black; color:white; padding:0 2% 0 2%; height: 100%; flex:1;overflow: auto;">

    <h3>ESP32 Database and Charts</h3>
    <hr>
    <ol>
    <li><a href="https://pythonforundergradengineers.com/flask-iot-server-upload-code-to-esp8266.html">Building an IoT Server with flask and Python - Part 6 - upload code to ESP8266-based WiFi weather stations </a></li>
    <li><a href="https://randomnerdtutorials.com/esp32-esp8266-plot-chart-web-server/">ESP32/ESP8266 Plot Sensor Readings in Real Time Charts – Web Server</a></li>
    <li><a href="https://randomnerdtutorials.com/esp32-esp8266-mysql-database-php/">ESP32/ESP8266 Insert Data into MySQL Database using PHP and Arduino IDE</a></li>
    </ol>
    <h3>References</h3>
    <hr>
    </div>

    
</body>
</html>
