<!DOCTYPE html>
<html>
<head>

    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
    <style>
      body{background-color:black;color:white;height:100%;font-family:Arial,Helvetica,sans-serif;}
      /*h3{color:#00ff2b}*/
      a{color:#337AB7;font-weight:bold;text-decoration:none;}
      pre code {
        color:white;
        border: 1px solid #999;
        display: block;
        padding: 5px 10px;
        white-space:pre-wrap;
        word-wrap:break-word;
      }
      table{text-align:center;width:100%;}
      td,th,tr{border:1px solid white;}
      th,td{width:25%;}

    </style>
</head>
<body class="content wrapper">
    <div style="background-color:black; color:white; padding:0 2% 0 2%; height: 100%; flex:1;overflow: auto;">

    <h3>Hadabot Parts</h3>
    <hr>
    <h4>Components</h4>
    <table>
      <tr>
        <td>L9110S 2 Channels Stepper Motor Dual motor Driver Controller Board</td>
        <td>LM393 Speed Sensor Module</td>
        <td>ESP WROOM 32 board</td>
        <td>Breadboards</td>
      </tr>
      <tr>
        <td>Toggle Switch</td>
        <td>Battery holders</td>
        <td>DC Gear Motor TT Motor for Smart Car Robot DIY</td>
        <td>Cables</td>
      </tr>
    </table>
    For LM393 Speed Sensor Module, there are two versions, one with 3 pins (GND,VCC,OUT) and with 4 pins (VCC,GND,DO,AO). You can assume that DO is OUT.
    <h4>Connections</h4>
    <div style="text-align:center;">
      <img src="../../resources/hadabot.png" style="width:50%;">
    </div>
    <h3>References</h3>
    <hr>
    <ol>
    <li><a href="https://www.hadabot.com/build-hadabot.html">Build the Hadabot Turtle Kit</a></li>
    </ol>
    </div>

    
</body>
</html>
