<!DOCTYPE html>
<html>
<head>

    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
    <style>
      body{background-color:black;color:white;height:100%;font-family:Arial,Helvetica,sans-serif;}
      /*h3{color:#00ff2b}*/
      a{color:#337AB7;font-weight:bold;text-decoration:none;}
    </style>
</head>
<body class="content wrapper">
    <div style="background-color:black; color:white; padding:0 2% 0 2%; height: 100%; flex:1;overflow: auto;">

    <h3>Inkscape New Part</h3>
    <hr>
    <div>
    <img src="../../resources/T5403.svg"/ style="width:50%;float:left">
    <img src="../../resources/T5403sch.svg"/ style="width:50%;float:left">
    </div>
    <hr>
    <h3>References</h3>
    <hr>
    1. <a href="https://fritzing.org/learning/tutorials/creating-custom-parts/download-fonts-and-templates">Fritzing template</a>
    2. <a href="https://zcemycl.github.io/resources/T5403.fzz">My first creation fzz file</a>
    </div>

    
</body>
</html>
