<!DOCTYPE html>
<html>
<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
    <style>
      body{background-color:black;color:white;height:100%;font-family:Arial,Helvetica,sans-serif;}
      /*h3{color:#00ff2b}*/
      a{color:#337AB7;font-weight:bold;text-decoration:none;}
      pre code {
        color:white;
        border: 1px solid #999;
        display: block;
        padding: 5px 10px;
        white-space:pre-wrap;
        word-wrap:break-word;

      }
      table{width:100%}
      td,tr,th{border:1px solid white;}
      td,th{width:25%;}
      div.formula{overflow-x:scroll;border:1px solid white;}

    </style>
</head>
<body class="content wrapper">
    <div style="background-color:black; color:white; padding:0 2% 0 2%; height: 100%; flex:1;overflow: auto;">

    <h3>Linux Container</h3>
    <hr>

    <h4>Installation</h4>  
    <pre><code>
sudo apt-get install lxc
sudo systemctl status lxc
sudo snap install lx
sudo apt install lxd lxd-client

sudo systemctl start lxd
sudo systemctl status lxd
    </code></pre>

    <h4>Initialization</h4>
    <p>After <code>sudo lxd init</code>,</p>
    <pre><code>
Would you like to use LXD clustering? (yes/no) [default=no]: 
Do you want to configure a new storage pool? (yes/no) [default=yes]: 
Name of the new storage pool [default=default]: 
Would you like to connect to a MAAS server? (yes/no) [default=no]: 
Would you like to create a new local network bridge? (yes/no) [default=yes]: 
What should the new bridge be called? [default=lxdbr0]: 
What IPv4 address should be used? (CIDR subnet notation, “auto” or “none”) [default=auto]: 
What IPv6 address should be used? (CIDR subnet notation, “auto” or “none”) [default=auto]: 
Would you like LXD to be available over the network? (yes/no) [default=no]: 
Would you like stale cached images to be updated automatically? (yes/no) [default=yes] 
    </code></pre>
    <p>Clustering means multiple computer server. Local network bridge allows the containers to communicate with the original computer. All of them are default. Storage backend to dir. Stale cached images updated automatically ensure the remote repo updates your local images whenever there are changes.</p>

    <h4>Instructions</h4>
    <p>The followings are for understanding your system,</p>
    <pre><code>
sudo lxc help # find the command
sudo lxc version # just print version == 3
sudo lxc storage list # where to store lxc
sudo lxc info a
lxc config show a
lxc profile list
lxc profile show default
sudo lxc remote list # which repo to install lxc
sudo lxc image list # what is downloaded
sudo lxc image list images: # list all images that can be downloaded
sudo lxc image list images:ubuntu
sudo lxc image list # list all running containers
uname -r # 5.4.0-66-generic host kernel
lsb_release -dirc # show version
free -m # show ram
ip a s # show all connections like inet
nproc # number of processors
hostname # yui@yui-Inspiron-7590 will show yui-Inspiron-7590
ping lxname.lxd
    </code></pre>


    <h5>Operations</h5>
    
    <ol>
    <li>Launch an instance.</li>
    <pre><code>
lxc launch ubuntu:16.04
    </code></pre>
    <li>Sometimes it can cause an error, like LXD does not have a uid/gid allocation.</li>
    <li>Add <code>root:100000:65536</code> to <code>/etc/subuid</code> and <code>/etc/subgid</code>, then reboot.</li>
    <li><code>ip a s</code> or <code>ifconfig</code> can show the new network bridge.</li>
    <li>Delete container by,</li>
    <pre><code>
lxc stop prepared-snipe # also have start option
lxc delete prepared-snipe # --force without stopping
    </code></pre>
    <li>Copy the instance.</li>
    <pre><code>
lxc copy a b
lxc start b
    </code></pre>
    <li>Rename the instance.</li>
    <pre><code>
lxc stop a
lxc move a c
lxc start c
    </code></pre>
    <li>Log into the instance.</li>
    <pre><code>
lxc exec a bash # login as a root user
    </code></pre>
    <li>Use <code>exit</code> to get out.</li>
    <li>Limit resources, options: memory, cpu</li>
    <pre><code>
lxc config set a limits.memory 512MB # or 1GB , check out by free -m 
OR in profile
lxc profile edit profilename # config: limits.memory: 512MB
lxc launch ubuntu:16.04 env2 --profile profilename
    </code></pre>

    <li>Send files,</li>
    <pre><code>
lxc file push filename containername/root/
lxc file pull containername/root/filename .
    </code></pre>

    <li>Backup container</li>
    <pre><code>
lxc snapshot a backupname
lxc restore a backupname
    </code></pre>
    <li></li>
    <li></li>
    <li></li>
    </ol>


    <h5></h5>
    <pre><code>
    </code></pre>






    <h3>References</h3>
    <hr>
    <ol>
    <li><a href="https://linuxcontainers.org/lxc/getting-started/">Linux containers LXC -- Getting Started</a></li>
    <li><a href="https://www.youtube.com/watch?v=CWmkSj_B-wo">Youtube -- Getting started with LXC containers</a></li>
    <li><a href="https://discuss.linuxcontainers.org/t/newbie-question-whats-the-lxc-version-of-a-dockerfile/6487">Newbie question: what’s the lxc version of a Dockerfile?</a></li>
    <li><a href=""></a></li>
    </ol>


    </div>
    <script type="text/javascript" async
      src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>
    <script type="text/javascript" src="https://zcemycl.github.io/static/eqresp.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
    <script>mermaid.initialize({startOnLoad:true});</script>

    
</body>
</html>
