<!DOCTYPE html>
<html>
<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
    <style>
      body{background-color:black;color:white;height:100%;font-family:Arial,Helvetica,sans-serif;}
      /*h3{color:#00ff2b}*/
      a{color:#337AB7;font-weight:bold;text-decoration:none;}
      pre code {
        color:white;
        border: 1px solid #999;
        display: block;
        padding: 5px 10px;
        white-space:pre-wrap;
        word-wrap:break-word;

      }
      table{width:100%}
      td,tr,th{border:1px solid white;}
      td,th{width:25%;}
      div.formula{overflow-x:scroll;border:1px solid white;}

    </style>
</head>
<body class="content wrapper">
    <div style="background-color:black; color:white; padding:0 2% 0 2%; height: 100%; flex:1;overflow: auto;">

    <h3>MariaDB</h3>
    <hr>
    <p>MariaDB is an extended version of MySQL.</p>
    
    <h4>Installation</h4>
    <p>Install MariaDB on Ubuntu 18.04</p>
    <pre><code>
sudo apt update
sudo apt install mysql-server # ERROR 2002 (HY000): Can't connect to local MySQL server through socket '/var/run/mysqld/mysqld.sock' (111)
sudo apt install mariadb-server
sudo systemctl status mariadb
mysql -V
    </code></pre>


    <p>Securing MariaDB</p>
    <pre><code>
sudo mysql_secure_installation
# answer Y to all questions 
mysql -u root -p [optional] # always start with this
# then input password set up in mysql secure installation
\h # help
\q # quit
    </code></pre>


    <p>Install MariaDB in Python</p>
    <pre><code>
sudo apt install libmariadb3 libmariadb-dev # to avoid 'Please make sure, that MariaDB Connector/C is installed on your system.' warning
pip install mariadb
    </code></pre>


    <h4>Terminal Commands</h4>
    <p></p>
    <pre><code>
show databases; # list out databases
use mysql; # switch database ## MariaDB [(none)] becomes [database_name]
show tables; # 
SELECT User,Password FROM user;
create database demo; # one database can have multiple tables
use demo;

######### Normal SQL
CREATE TABLE Book(  
id INT NOT NULL AUTO_INCREMENT,  
name VARCHAR(100) NOT NULL,  
PRIMARY KEY (id)); 
## Show info of table
DESC Book;

## Insert
INSERT INTO Book
(id, name)  
VALUES  
(2,'MariaDB Book2'),  
(3,'MariaDB Book3'),  
(4,'MariaDB Book4'),  
(5,'MariaDB Book5');

## Select
SELECT * FROM Book;
    </code></pre>



    <h4>Python Syntax</h4>
    <p></p>
    <pre><code>
#### Setup
import mariadb
import sys
try:
    conn = mariadb.connect(
        user="root",
        password="pwd",
        host="localhost",
        port=3306,
        database="demo"
    )
except mariadb.Error as e:
    print(f"Error connecting to MariaDB Platform: {e}")
    sys.exit(1)
cur = conn.cursor()

#### SELECT
cur.execute(
    "SELECT * FROM Book")
for item in cur:
    print(item)

#### Show databases
cur.execute("SHOW DATABASES")
#print all databases
for db in cur:
    print(db)

#### Create table
cur.execute("CREATE TABLE student (id INT, name VARCHAR(255))")

#### Insert
sql = "INSERT INTO student(id,name) VALUES(01, 'John')"
cur.execute(sql)
conn.commit()
print(cur.rowcount, "Record Inserted")

#### Close connection
conn.close()
    </code></pre>








    <h3>References</h3>
    <hr>
    <ol>
    <li><a href="https://linuxize.com/post/how-to-install-mariadb-on-ubuntu-18-04/">How to Install MariaDB on Ubuntu 18.04</a></li>
    <li><a href="https://mariadb.com/docs/clients/connector-c/#connc-install">MariaDB Connector/C</a></li>
    <li><a href="https://mariadb.com/docs/clients/connector-python/#installing-from-pypi">MariaDB Connector/Python</a></li>
    <li><a href="https://github.com/datacharmer/test_db">Github --  datacharmer / test_db </a></li>
    <li><a href="https://www.mariadbtutorial.com/getting-started/connect-to-mariadb/">Connect to MariaDB</a></li>
    <li><a href="https://mariadb.com/resources/blog/how-to-connect-python-programs-to-mariadb/">How to connect Python programs to MariaDB</a></li>
    <li><a href="https://www.guru99.com/mariadb-tutorial-install.html">MariaDB Tutorial for Beginners: Learn with EXAMPLES </a></li>
    <li><a href="https://www.guru99.com/python-mysql-example.html">Python with MySQL: Connect, Create Database, Table, Insert [Examples] </a></li>
    <li><a href="https://linuxhint.com/expose_mysql_server_internet/">Expose MySQL and MariaDB Database Server to the Internet</a></li>
    <li><a href=""></a></li>
    </ol>



    </div>
    <script type="text/javascript" async
      src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>
    <script type="text/javascript" src="https://zcemycl.github.io/static/eqresp.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
    <script>mermaid.initialize({startOnLoad:true});</script>

    
</body>
</html>
