<!DOCTYPE html>
<html>
<head>

    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
    <style>
      body{background-color:black;color:white;height:100%;font-family:Arial,Helvetica,sans-serif;}
      /*h3{color:#00ff2b}*/
      a{color:#337AB7;font-weight:bold;text-decoration:none;}
      pre code {
        color:white;
        border: 1px solid #999;
        display: block;
        padding: 5px 10px;
        white-space:pre-wrap;
        word-wrap:break-word;
      }
      tr,th,td{border:1px solid white;}
    </style>
</head>
<body class="content wrapper">
    <div style="background-color:black; color:white; padding:0 2% 0 2%; height: 100%; flex:1;overflow: auto;">

    <h3>COEX Clover 4.1 [I assume]</h3>
    <h4>Final product</h4>
    <div style="text-align:center;">
        <figure>
          <img src="../../resources/top.jpg" style="width:30%;">
          <img src="../../resources/bottom.jpg" style="width:30%;">
          <figcaption>Left: Top View, Right: Bottom View</figcaption>
        </figure>
    </div>
    <h4>Important boards</h4>
    <div style="text-align:center;">
        <figure>
          <img src="../../resources/pdb.jpg" style="width:50%;">
          <img src="../../resources/coex_pix.jpg" style="width:20%;">
          <figcaption>Left: Power Distribution Board (PDB), Right: COEX Pix Flight Controller (FCU)</figcaption>
        </figure>
    </div>
    <h4>Components</h4>
    <div style="text-align:center">
    <table style="border:1px solid white;width:100%">
        <tr>
            <td>Flight Controller COEX Pix</td>
            <td>2 SD Cards 16Gb and 64Gb for FCU and Raspi</td>
            <td>Raspberry Pi 4 Model B 1Gb Board</td>
            <td>RPi 4 Radiator Kit (2pcs)</td>
        </tr>
        <tr>
            <td>Power distribution board COEX PDB</td>
            <td>Brushless motor COEX BR2306 2400kV</td>
            <td>Speed Controller ESC 25A</td>
            <td>Dalprop Cyclone T5046C (pair) (propellor)</td>
        </tr>
        <tr>
            <td>RC transmitter COEX i6x with receiver</td>
            <td>Li-po Tattu 3S LiPo 2300 mAh 45C (battery)</td>
            <td>RPi 4 Cam OV5647 Wide Angle Lens</td>
            <td>Laser Rangefinder CJMCU-531</td>
        </tr>
    </table>
    </div>
    <h4>Connections</h4>

    <table style="border:1px solid white;width:100%">
        <tr>
            <th>Boards</th>
            <th>Destinations</th>
            <th>Details</th>
        </tr>
        <tr>
            <td rowspan="5">COEX PDB</td>
            <td>4 BLDC Motors</td>
            <td>ESC +/- connect to ESC red and black wires respectively. And ESC 3 teeth pins to 3 black wires from BLDC motor. </td>
        </tr>
        <tr>
            <td>LiPo Battery</td>
            <td>BAT +/- to battery via XT60 connector.</td>
        </tr>
        <tr>
            <td>COEX Pix FCU</td>
            <td>5 pins cable.</td>
        </tr>
        <tr>
            <td>Raspi 4B</td>
            <td>5V and gnd connections to raspi GPIO 4 and 6 respectively. This is to supply power to raspberry pi.</td>
        </tr>
        <tr>
            <td>LED strip (optional)</td>
            <td>5V and gnd from PDB to strip 5V and gnd.</td>
        </tr>
        <tr>
            <td rowspan="4">COEX Pix FCU</td>
            <td>4 BLDC Motors</td>
            <td>connect to ESC black white wires for signals. White wire should face upwards.</td>
        </tr>
        <tr>
            <td>16Gb SD Card</td>
            <td></td>
        </tr>
        <tr>
            <td>Raspi 4B</td>
            <td>USB C port of FCU to USB port of Raspi.</td>
        </tr>
        <tr>
            <td>RC receiver</td>
            <td></td>
        </tr>
        <tr>
            <td rowspan="3">Raspi 4B</td>
            <td>Camera Module</td>
            <td></td>
        </tr>
        <tr>
            <td>Laser Rangefinder</td>
            <td>GPIO 1,3,5,9 to rangefinder VCC,SDA,SCL,GND respectively,</td>
        </tr>
        <tr>
            <td>LED strip (optional)</td>
            <td>Raspi GPIO21 to LED strip signal.</td>
        </tr>
    </table>
    <hr>
    <h3>References</h3>
    <hr>
    <ol>
    <li><a href="https://clover.coex.tech/en/assemble_4_2.html">COEX Clover 4.2 assembly</a></li>
    <li><a href="https://clover.coex.tech/en/assemble_4.html">COEX Clover 4 assembly</a></li>
    </ol>
    </div>

    
</body>
</html>
