<!DOCTYPE html>
<html>
<head>

    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
    <style>
      body{background-color:black;color:white;height:100%;font-family:Arial,Helvetica,sans-serif;}
      /*h3{color:#00ff2b}*/
      a{color:#337AB7;font-weight:bold;text-decoration:none;}
      pre code {
        color:white;
        border: 1px solid #999;
        display: block;
        padding: 5px 10px;
        white-space:pre-wrap;
        word-wrap:break-word;
      }
     
    </style>
</head>
<body class="content wrapper">
    <div style="background-color:black; color:white; padding:0 2% 0 2%; height: 100%; flex:1;overflow: auto;">

    <h3>COEX Clover 4.1 [I assume]</h3>
    <h4>Final product</h4>
    <div style="text-align:center;">
        <figure>
          <img src="../../resources/top.jpg" style="width:30%;">
          <img src="../../resources/bottom.jpg" style="width:30%;">
          <figcaption>Left: Top View, Right: Bottom View</figcaption>
        </figure>
    </div>
    <h4>Important boards</h4>
    <div style="text-align:center;">
        <figure>
          <img src="../../resources/pdb.jpg" style="width:50%;">
          <img src="../../resources/coex_pix.jpg" style="width:20%;">
          <figcaption>Left: Power Distribution Board (PDB), Right: COEX Pix Flight Controller (FCU)</figcaption>
        </figure>
    </div>
    <h4>Connections</h4>
    <table>
    </table>
    <hr>
    <h3>References</h3>
    <hr>
    <ol>
    <li><a href="https://clover.coex.tech/en/assemble_4_2.html">COEX Clover 4.2 assembly</a></li>
    <li><a href="https://clover.coex.tech/en/assemble_4.html">COEX Clover 4 assembly</a></li>
    </ol>
    </div>

    
</body>
</html>
