<!DOCTYPE html>
<html>
<head>

    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
    <style>
      body{background-color:black;color:white;height:100%;font-family:Arial,Helvetica,sans-serif;}
      /*h3{color:#00ff2b}*/
      a{color:#337AB7;font-weight:bold;text-decoration:none;}
      pre code {
        color:white;
        border: 1px solid #999;
        display: block;
        padding: 5px 10px;
        white-space:pre-wrap;
        word-wrap:break-word;

      }

    </style>
</head>
<body class="content wrapper">
    <div style="background-color:black; color:white; padding:0 2% 0 2%; height: 100%; flex:1;overflow: auto;">

    <h3>QGroundControl over Wifi and Sensor Calibration</h3>
    <hr>
    <div style="text-align:center;">
      <video width="60%" controls autoplay loop>
          <source src="../../resources/sensor.mp4" type="video/mp4">
      </video>
    </div>
    <ol>
    <li>Follow the instruction from Using QGroundControl via Wi-Fi.</li>
    <li>SSH into the raspberry pi, change the parameter <code>gcs_bridge</code> in <code>~/catkin_ws/src/clover/clover/launch/clover.launch</code> to <code>tcp</code>.</li>
    <li>Restart the <code>clover</code> service by <code>sudo systemctl restart clover</code>.</li>
    <li>Get to QGroundControl program, choose the Application settings &#8594 Comm Links &#8594 Add. </li>
      <ul>
      <li>Change the random Name.</li>
      <li>Type to TCP.</li>
      <li>Host Address is your raspi ip address.</li>
      <li>TCP Port to 5760.</li>
      </ul>
    <li>Press OK. Then click Connect.</li>
    <li>Follow Sensor Calibration instruction. If the flight controller is COEX Pix, specify <code>ROTATION_ROLL_180_YAW_90</code>.</li>
    <li>When calibrating the Compass, please hold still in specific orientation. The status should change from <code>Incomplete</code> to <code>Rotate</code>. Then start to rotate your drone until <code>Rotate</code> to <code>Complete</code>.</li>
    <li>While calibrating other sensors, they only require to hold still the drone in specific orientation.</li>
    <li>Reboot via Vehicle Setup &#8594 Parameters &#8594 Tools &#8594 Reboot.</li>
    </ol>

    <h3>References</h3>
    <hr>
    <ol>
    <li><a href="https://clover.coex.tech/en/gcs_bridge.html">COEX Using QGroundControl over Wi-Fi</a></li>
    <li><a href="https://clover.coex.tech/en/calibration.html">COEX Sensor calibration</a></li>
    </ol>

    </div>

    
</body>
</html>
