<!DOCTYPE html>
<html>
<head>

    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
    <style>
      body{background-color:black;color:white;height:100%;font-family:Arial,Helvetica,sans-serif;}
      /*h3{color:#00ff2b}*/
      a{color:#337AB7;font-weight:bold;text-decoration:none;}
      pre code {
        color:white;
        border: 1px solid #999;
        display: block;
        padding: 5px 10px;
      }

    </style>
</head>
<body class="content wrapper">
    <div style="background-color:black; color:white; padding:0 2% 0 2%; height: 100%; flex:1;overflow: auto;">

    <h3>Setting up Raspi</h3>
    <hr>
    <div style="text-align:center;">
      <video width="60%" controls autoplay loop>
          <source src="../../resources/raspiImage.mp4" type="video/mp4">
      </video>
    </div>
    Instead of connecting USB during calibration, you would like to connect Wifi to calibrate the drone via QGroundControl. Here, I choose to further connect my Wifi instead of the drone built-in Wifi.
    <div>Steps:</div>
    <ol>
    <li>Insert the SD card with raspi image into Raspberry Pi board.</li>
    <li>Connect a display, keyboard and power supply to the Raspberry Pi board. It will power up automatically.</li>
    <li>When the login screen appears, login with user name <code>pi</code> and password <code>raspberry</code>.</li>
    <li>Configure the raspberry pi software by <code>sudo raspi-config</code>.</li>
        <ul>   
        <li>Localisation Options &#8594 Change Timezone &#8594 Europe &#8594 London</li>
        <li>Localisation Options &#8594 Wi-Fi Country &#8594 GB Britain (UK) [**This will disable internal WiFi]</li>
        <li>Advanced Options &#8594 Expand Filesystem [**Expand the memory]</li>
        <li>** Do not Update (get disable by COEX)</li>
        </ul>
    <li>Reboot to update the configuration settings by <code>sudo reboot</code>.</li>   
    <li>Configure the font size of the terminal by <code>sudo dpkg-reconfigure console-setup</code> to launch Package Configuration. UTF-8 &#8594 Guess optimal character set &#8594 Terminus &#8594 16x32</li>
    <li>You can see the terminal text becomes bigger now.</li>
    <li>Configure Wi-Fi Settings from Access point mode to Client mode.</li>
        <ul>
        <li>Disable the <code>dnsmasq</code> service by <code>sudo systemctl stop dnsmasq</code> and <code>sudo systemctl disable dnsmasq</code>.</li>
        <li>Enable DHCP client on the wireless interface to obtain IP address. Remove these lines from <code>/etc/dhcpcd.conf</code> file. By <code>sudo vim /etc/dhcpcd.conf</code>, press d+d to delete the select line, <code>interface wlan0</code> and <code>static ip_address=192.168.11.1/24</code>. </li>
        <li>Delete WiFi dictionary in <code>/etc/wpa_supplicant/wpa_supplicant.conf</code>. Add your own WiFi.</li>
        <li>Restart the <code>dhcpcd</code> service by <code>sudo systemctl restart dhcpcd</code>.</li>
        <li>Restart. <code>sudo reboot</code></li>
        </ul>
    </ol>

You can now ssh from your laptop to the raspi. If your laptop and raspi are in the same Wifi, open your terminal, type <code>ssh pi@192.168.x.xxx</code> (check your laptop ip via <code>ifconfig | grep inet</code>. Search your pi address via <code>nmap -sP 192.168.x.0/24</code>.) Login via password <code>raspberry</code>.

    <h4>Optional -- LED strip</h4>
    <ol>
    <li>Disable LED strip support in <code>~/catkin_ws/src/clover/clover/launch/clover.launch</code> by <code>&ltname="led" default="false"/&gt</code>. </li>
    <li>Change number of LEDs turned on in <code>~/catkin_ws/src/clover/clover/launch/led.launch</code>, by <code>&ltparam name="led_count" value="30"/&gt</code>. </li>
    <li>Change pinout to LED strip in <code>~/catkin_ws/src/clover/clover/launch/led.launch</code>, by <code>&ltparam name="gpio_pin" value="21"/&gt</code>. </li>
    <li>Disable LED strip notifications set in <code>~/catkin_ws/src/clover/clover/launch/led.launch</code>, by <code>&ltarg name="led_notify" default="false"/&gt</code>. </li>
    </ol>




    <h3>References</h3>
    <hr>
    <ol>
    <li><a href="https://clover.coex.tech/en/leds.html">COEX LED strip</a></li>
    <li><a href="https://clover.coex.tech/en/ssh.html">COEX Remote shell</a></li>
    <li><a href="https://clover.coex.tech/en/wifi.html">COEX Wi-Fi connection</a></li>
    <li><a href="https://clover.coex.tech/en/network.html">COEX Wi-Fi Configuration</a></li>
    <li><a href="https://www.raspberrypi-spy.co.uk/2014/04/how-to-change-the-command-line-font-size/">How To Change The Command Line Font Size - Raspberrypi-spy</a></li>
    </ol>
    </div>

    
</body>
</html>
