<!DOCTYPE html>
<html>
<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
    <style>
      body{background-color:black;color:white;height:100%;font-family:Arial,Helvetica,sans-serif;}
      /*h3{color:#00ff2b}*/
      a{color:#337AB7;font-weight:bold;text-decoration:none;}
      pre code {
        color:white;
        border: 1px solid #999;
        display: block;
        padding: 5px 10px;
        white-space:pre-wrap;
        word-wrap:break-word;

      }
      table{width:100%}
      td,tr,th{border:1px solid white;}
      td,th{width:25%;}
      div.formula{overflow-x:scroll;border:1px solid white;}

    </style>
</head>
<body class="content wrapper">
    <div style="background-color:black; color:white; padding:0 2% 0 2%; height: 100%; flex:1;overflow: auto;">

    <h3>ROS -- Create Basic URDF Model</h3>
    <hr>

    <h4>Unified Robot Description Format (URDF)</h4>
    <p>URDF is an XML format for representing a robot model.</p>
    <div style="text-align:center;">
    <div class="mermaid" style="background-color:white; max-width:80vw">
    graph TD
      A[URDF] --> B[Link];
      B --> C[Visual];
      B --> D[Collision];
      B --> E[Inertial];
      A --> F[Joint];
      A --> G[Material];
      A --> H[Gazebo];
    </div>
    </div>

    <h4>XACRO</h4>
    <p>Xacro (XML Macros) allows user to construct shorter, reusable and more readable XML files by using macros that expand to larger XML expressions.</p>



    <h4>Structure</h4>
    <h5>robot.urdf</h5>
    <pre><code>
&lt?xml version="1.0" ?&gt
&ltrobot name="my_robot" xmlns:xacro="http://www.ros.org/wiki/xacro"&gt
  &ltlink name="link_chassis"&gt

    &ltpose&gt0 0 0.1 0 0 0&lt/pose&gt

    &ltinertial&gt
      &ltmass value="5"/&gt
      &ltorigin xyz="0 0 0.1" rpy="0 0 0"/&gt
      &ltinertia ixx="0.0395416666667" ixy="0" ixz="0" 
               iyy="0.106208333333" iyz="0"
               izz="0.106208333333"/&gt
    &lt/inertial&gt
    
    &ltcollision name="collision_chassis"&gt
      &ltgeometry&gt
        &ltbox size="1 1 2"/&gt
      &lt/geometry&gt
    &lt/collision&gt

    &ltvisual&gt
      &ltorigin xyz="0 0 0.1" rpy="0 0 0"/&gt
      &ltgeometry&gt
        &ltbox size="1 1 2"/&gt
      &lt/geometry&gt
    &lt/visual&gt


  &lt/link&gt
&lt/robot&gt
    </code></pre>


    <h5>spawn.launch</h5>
    <pre><code>
&lt?xml version="1.0" encoding="UTF-8"?&gt
&ltlaunch&gt
  &ltparam name="robot_description" command="$(find xacro)/xacro --inorder '$(find my_package)/urdf/robot.urdf'"/&gt
  
  &ltarg name="x" default="0"/&gt
  &ltarg name="y" default="0"/&gt
  &ltarg name="z" default="1.5"/&gt

  &ltnode name="my_robot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
        args="-urdf -param robot_description -model my_robot -x $(arg x) -y $(arg y) -z $(arg z)"/&gt

&lt/launch&gt
    </code></pre>


    <h5>rviz.launch</h5>
    <pre><code>
&lt?xml version="1.0"?&gt
&ltlaunch&gt

  &ltparam name="robot_description" command="$(find xacro)/xacro --inorder '$(find my_package)/urdf/robot.urdf'"/&gt

  &ltnode name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"&gt
    &ltparam name="use_gui" value="False"/&gt
  &lt/node&gt

  &ltnode name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/&gt

  &ltnode name="rviz" pkg="rviz" type="rviz"/&gt

&lt/launch&gt
    </code></pre>


    <h4>Steps</h4>
    <ol>
    <li>Start roscore. </li>
    <li>Create package in source folder of your workspace. <code>catkin_create_pkg my_package urdf</code></li>
    <li>Create urdf and launch folders.</li>
    <li>Place the scripts above to the respective folders.</li>
    <li>Open gazebo. <code>roslaunch gazebo_ros empty_world.launch</code></li>
    <li>Run spawn. <code>roslaunch my_package spawn.launch</code></li>
    <li>Run rviz. <code>roslaunch my_package rviz.launch</code></li>
    </ol>
    

    <div style="text-align:center;">
    <img src="../../resources/rviz_gazebo.png" width="50%">
    </div>


    <h3>References</h3>
    <hr>
    <ol>
    <li><a href="https://www.youtube.com/watch?v=N1QsVM5imsU">Youtube [Gazebo in 5 minutes] 008 - How to visualize a robot URDF using RVIZ</a></li>
    <li><a href="http://wiki.ros.org/urdf/Tutorials">urdf/Tutorials</a></li>
    <li><a href="http://wiki.ros.org/xacro">xacro Package Summary</a></li>
    <li><a href="http://wiki.ros.org/simulator_gazebo/Tutorials/SpawningObjectInSimulation">Creating and Spawning Custom URDF Objects in Simulation</a></li>
    <li><a href="http://wiki.ros.org/urdf/Tutorials/Adding%20Physical%20and%20Collision%20Properties%20to%20a%20URDF%20Model">Adding Physical and Collision Properties to a URDF Model</a></li>
    <li><a href="http://gazebosim.org/tutorials?tut=build_robot&cat=build_robot">Make a Mobile Robot</a></li>
    <li><a href="http://gazebosim.org/tutorials?tut=add_laser&cat=build_robot">Add a Sensor to a Robot</a></li>
    <li><a href="https://www.youtube.com/watch?v=jmCR225ORs0">Youtube - [Exploring ROS using a 2 Wheeled Robot] #1: Basics of Robot Modeling using URDF</a></li>
    </ol>    



    </div>
    <script type="text/javascript" async
      src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>
    <script type="text/javascript" src="https://zcemycl.github.io/static/eqresp.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
    <script>mermaid.initialize({startOnLoad:true});</script>

    
</body>
</html>
