<!DOCTYPE html>
<html>
<head>

    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
    <style>
      body{background-color:black;color:white;height:100%;font-family:Arial,Helvetica,sans-serif;}
      /*h3{color:#00ff2b}*/
      a{color:#337AB7;font-weight:bold;text-decoration:none;}
      pre code {
        color:white;
        border: 1px solid #999;
        display: block;
        padding: 5px 10px;
        white-space:pre-wrap;
        word-wrap:break-word;

      }
      table{width:100%}
      td,tr,th{border:1px solid white;text-align:center;}
      td,th{width:25%;}
    </style>
</head>
<body class="content wrapper">
    <div style="background-color:black; color:white; padding:0 2% 0 2%; height: 100%; flex:1;overflow: auto;">

    <h3>Robot Operating System (ROS) Installation</h3>
    <hr>
    <h4>ROS Distribution Consideration</h4> 
    <figure>
    <div style="text-align:center;">
      <img src="http://wiki.ros.org/Robots/TIAGo/Tutorials/Installation/Testing_simulation_installation?action=AttachFile&do=get&target=tiago_gazebo_titanium.png" style="width:40vw;">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQW_jX9IUqChN45Fi6QiEY4Ia9yRFT92imjmw&usqp=CAU" style="width:40vw;">
      <img src="http://wiki.ros.org/ur_gazebo?action=AttachFile&do=get&target=ur5-planning.png" style="height:20vw;">
      <img src="https://emanual.robotis.com/assets/images/platform/turtlebot3/simulation/turtlebot3_empty_world.png" style="width:40vw;">
    </div>
    <figcaption>Top Left: Tiago, Top Right: Hector Quadcopter, Bottom Left: UR5 Robot Arm, Bottom Right: Turtlebot</figcaption>
    </figure>
    <table>
      <tr>
        <td>Ubuntu</td>
        <td>16.04</td>
        <td>18.04</td>
        <td>20.04</td>
      </tr>
      <tr>
        <td>ROS</td>
        <td>Kinetic</td>
        <td>Melodic</td>
        <td>Noetic</td>
      </tr>
    </table>
    Most of the simulation packages, such as hector quadrotor, ur, etc. are supported by Kinetic ROS only. So here I choose ubuntu 16.04. Don't choose install the latest version since not a lot of packages are updated.
    <h4>Steps</h4>
    <ol>
      <li>Setup your sources.list<pre><code>sudo sh -c 'echo "deb http://packages.ros.org/ros/ubuntu $(lsb_release -sc) main" > /etc/apt/sources.list.d/ros-latest.list'</code></pre></li>
      <li>Setup your keys<pre><code>sudo apt-key adv --keyserver 'hkp://keyserver.ubuntu.com:80' --recv-key C1CF6E31E6BADE8868B172B4F42ED6FBAB17C654</code></pre></li>
      <li>Installation<pre><code>sudo apt-get update</code></pre>then Desktop-Full Install <pre><code>sudo apt-get install ros-kineti-desktop-full</code></pre></li>
      <li>Install any individual package <pre><code>sudo apt-get install ros-{version}-{package}</code></pre></li>
      <li>Install any individual package <pre><code>sudo apt-get install ros-{version}-{package}</code></pre></li>
      <li>Initialize rosdep<pre><code>sudo rosdep init</code></pre>Then<pre><code>rosdep update</code></li>
      <li>Environment setup<pre><code>source /opt/ros/kinetic/setup.bash</code></pre>Then<pre><code>echo "source /opt/ros/kinetic/setup.bash" >> ~/.bashrc
source ~/.bashrc</code></li>
      <li>Dependencies for building packages of python <pre><code>sudo apt install python-rosdep python-rosinstall python-rosinstall-generator python-wstool build-essential</code></pre>Then reboot.</li>
    </ol>
    <h4>Test setup</h4>
    <ol> 
    <li><code>roscore</code></li>   
    <li><code>rostopic list</code> Show the ros topic</li>   
    <li><code>roscd</code> It will take you to /opt/ros/kinetic directory</li>   
    </ol>
    <h3>References</h3>
    <hr>
    <ol>
      <li><a href="http://wiki.ros.org/gazebo_ros_pkgs/">Gazebo ROS packages</a></li>  
      <li><a href="http://wiki.ros.org/kinetic/Installation/Ubuntu">Ubuntu install of ROS Kinetic</a></li>
    </ol>
    </div>

    
</body>
</html>
