<!DOCTYPE html>
<html>
<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
    <style>
      body{background-color:black;color:white;height:100%;font-family:Arial,Helvetica,sans-serif;}
      /*h3{color:#00ff2b}*/
      a{color:#337AB7;font-weight:bold;text-decoration:none;}
      pre code {
        color:white;
        border: 1px solid #999;
        display: block;
        padding: 5px 10px;
        white-space:pre-wrap;
        word-wrap:break-word;

      }
      table{width:100%}
      td,tr,th{border:1px solid white;}
      td,th{width:25%;}
      div.formula{overflow-x:scroll;border:1px solid white;}

    </style>
</head>
<body class="content wrapper">
    <div style="background-color:black; color:white; padding:0 2% 0 2%; height: 100%; flex:1;overflow: auto;">

    <h3>ROS Simulation Camera</h3>
    <hr>


    <div style="text-align:center">
    <img src="../../resources/camera_link.png" style="width:80%; max-height:50%;">
    </div>


    <h4>Steps</h4>
    <ol>
    <li>Create package dependent on urdf.</li>
    <pre><code>
sudo apt-get install libopencv-dev
cd ~/my_ws/src
catkin_create_pkg camera_test urdf sensor_msgs cv_bridge rospy std_msgs
cd ..
mkdir launch urdf
    </code></pre>
    <li>Paste the files into their respective folders urdf and launch.</li>
    
    <li>Run the model in simulation by,</li>
    <pre><code>
roscore
roslaunch gazebo_ros empty_world.launch
roslaunch camera_test spawn.launch
roslaunch camera_test rviz.launch
    </code></pre>


    <li>Inside gazebo window, insert any models.</li>

    <li>Inside rviz window, add robotmodel and camera. Change Global Options Fixed Frame to camera_link, change Camera Image Topic to /arm_sensors/camera/image_raw</li>


    </ol>




    <h5>robot.urdf</h5>
    <pre><code>
&lt?xml version="1.0"?&gt
&ltrobot name="my_robot" xmlns:xacro="http://ros.org/wiki/xacro"&gt

  &ltxacro:property name="M_PI" value="3.1415926535897931" /&gt

    &ltlink name="camera_link"&gt

      &ltcollision&gt
        &ltorigin xyz="0 0 0" rpy="0 0 0" /&gt
        &ltgeometry&gt
          &ltbox size="0.1 0.1 0.1"/&gt
        &lt/geometry&gt
      &lt/collision&gt

      &ltvisual&gt
        &ltorigin xyz="0 0 0" rpy="0 0 0" /&gt
        &ltgeometry&gt
          &ltbox size="0.1 0.1 0.1"/&gt
        &lt/geometry&gt
        &ltmaterial name="grey"&gt
            &ltcolor rgba="0.2 0.2 0.2 1.0"/&gt
        &lt/material&gt
      &lt/visual&gt


      &ltinertial&gt
        &ltmass value="0.001" /&gt
        &ltorigin xyz="0.1 0 0" rpy="0 0 0" /&gt
        &ltinertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001" /&gt
      &lt/inertial&gt

    &lt/link&gt



    &ltgazebo reference="camera_link"&gt
      &ltsensor type="camera" name="camera_camera_sensor"&gt
        &ltupdate_rate&gt30.0&lt/update_rate&gt
        &ltcamera&gt
          &ltpose&gt0.035 0 0.078 0 ${-M_PI/2} 0&lt/pose&gt
          &lthorizontal_fov&gt${85 * M_PI/180.0}&lt/horizontal_fov&gt
          &ltimage&gt
            &ltformat&gtR8G8B8&lt/format&gt
            &ltwidth&gt1020&lt/width&gt
            &ltheight&gt1020&lt/height&gt
          &lt/image&gt
          &ltclip&gt
            &ltnear&gt0.01&lt/near&gt
            &ltfar&gt1000&lt/far&gt
          &lt/clip&gt
        &lt/camera&gt

        &ltplugin name="camera_camera_controller" filename="libgazebo_ros_camera.so"&gt
          &ltalwaysOn&gttrue&lt/alwaysOn&gt
          &ltupdateRate&gt0.0&lt/updateRate&gt
          &ltcameraName&gtarm_sensor/camera&lt/cameraName&gt
          &ltimageTopicName&gtimage_raw&lt/imageTopicName&gt
          &ltcameraInfoTopicName&gtcamera_info&lt/cameraInfoTopicName&gt
          &ltframeName&gtcamera_link&lt/frameName&gt
          &lthackBaseline&gt0.07&lt/hackBaseline&gt
          &ltdistortionK1&gt0.0&lt/distortionK1&gt
          &ltdistortionK2&gt0.0&lt/distortionK2&gt
          &ltdistortionK3&gt0.0&lt/distortionK3&gt
          &ltdistortionT1&gt0.0&lt/distortionT1&gt
          &ltdistortionT2&gt0.0&lt/distortionT2&gt
        &lt/plugin&gt
      &lt/sensor&gt
    &lt/gazebo&gt

&lt/robot&gt
    </code></pre>
    

    <h5>spawn.launch</h5>
    <pre><code>
&lt?xml version="1.0" encoding="UTF-8" ?&gt
&ltlaunch&gt
  &ltparam name="robot_description" command="$(find xacro)/xacro --inorder '$(find camera_test)/urdf/robot.urdf'"/&gt
  
  &ltarg name="x" default="0"/&gt
  &ltarg name="y" default="0"/&gt
  &ltarg name="z" default="1.5"/&gt

  &ltnode name="my_robot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
        args="-urdf -param robot_description -model my_robot -x $(arg x) -y $(arg y) -z $(arg z)"/&gt

&lt/launch&gt
    </code></pre>


    <h5>rviz.urdf</h5>
    <pre><code>
&lt?xml version="1.0" ?&gt
&ltlaunch&gt

  &ltparam name="robot_description" command="$(find xacro)/xacro --inorder '$(find camera_test)/urdf/robot.urdf'"/&gt

  &ltnode name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"&gt
    &ltparam name="use_gui" value="False"/&gt
  &lt/node&gt

  &ltnode name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/&gt

  &ltnode name="rviz" pkg="rviz" type="rviz"/&gt

&lt/launch&gt
    </code></pre>


    <h3>References</h3>
    <hr>
    <ol>
    <li><a href="https://answers.ros.org/question/210695/adding-a-camera-to-a-model-in-gazebo-beginner/">ROS Answers -- Adding a camera to a model in Gazebo? (Beginner)</a></li>
    <li><a href="http://gazebosim.org/tutorials?tut=ros_gzplugins#Camera">Gazebo plugins in ROS</a></li>
    <li><a href="http://wiki.ros.org/cv_bridge/Tutorials/ConvertingBetweenROSImagesAndOpenCVImagesPython">Converting between ROS images and OpenCV images (Python)</a></li>
    <li><a href="https://answers.ros.org/question/216496/adding-a-camera-to-my-urdf/">Adding a camera to my urdf</a></li>
    <li><a href="http://wiki.ros.org/urdf/XML/joint">urdf/XML/joint</a></li>
    </ol>







    </div>
    <script type="text/javascript" async
      src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>
    <script type="text/javascript" src="https://zcemycl.github.io/static/eqresp.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
    <script>mermaid.initialize({startOnLoad:true});</script>

    
</body>
</html>
