<!DOCTYPE html>
<html>
<head>

    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
    <style>
      body{background-color:black;color:white;height:100%;font-family:Arial,Helvetica,sans-serif;}
      /*h3{color:#00ff2b}*/
      a{color:#337AB7;font-weight:bold;text-decoration:none;}
      pre code {
        color:white;
        border: 1px solid #999;
        display: block;
        padding: 5px 10px;
        white-space:pre-wrap;
        word-wrap:break-word;

      }

    </style>
</head>
<body class="content wrapper">
    <div style="background-color:black; color:white; padding:0 2% 0 2%; height: 100%; flex:1;overflow: auto;">

    <h3>Sketchfab Lazy Embed</h3>
    <hr>
    Instructions:
    <ol>
        <li>Go to sketchfab.com</li>
        <li>Find a suitable model</li>
        <li>Copy the embedding html text from "Embed" tab</li>
    </ol>
    <pre>
        <code>
&ltdiv class="sketchfab-embed-wrapper"&gt
    &ltiframe title="A 3D model" width="640" height="480" src="https://sketchfab.com/models/add37d5dc6a2456eb0d7607c6fbd884d/embed?autostart=1&amp;ui_controls=1&amp;ui_infos=1&amp;ui_inspector=1&amp;ui_stop=1&amp;ui_watermark=1&amp;ui_watermark_link=1" frameborder="0" allow="autoplay; fullscreen; vr" mozallowfullscreen="true" webkitallowfullscreen="true"&gt&lt/iframe&gt
    &ltp style="font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;"&gt
        &lta href="https://sketchfab.com/3d-models/southbank-undercroft-skatepark-add37d5dc6a2456eb0d7607c6fbd884d?utm_medium=embed&utm_source=website&utm_campaign=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;"&gtSouthbank Undercroft Skatepark&lt/a&gt
        by &lta href="https://sketchfab.com/artfletch?utm_medium=embed&utm_source=website&utm_campaign=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;"&gtartfletch&lt/a&gt
        on &lta href="https://sketchfab.com?utm_medium=embed&utm_source=website&utm_campaign=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;"&gtSketchfab&lt/a&gt
    &lt/p&gt
&lt/div&gt
        </code>
    </pre>
<div class="sketchfab-embed-wrapper" style="text-align:center">
    <iframe title="A 3D model" width="640" height="480" src="https://sketchfab.com/models/add37d5dc6a2456eb0d7607c6fbd884d/embed?autostart=1&amp;ui_controls=1&amp;ui_infos=1&amp;ui_inspector=1&amp;ui_stop=1&amp;ui_watermark=1&amp;ui_watermark_link=1" frameborder="0" allow="autoplay; fullscreen; vr" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
    <p style="font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;">
        <a href="https://sketchfab.com/3d-models/southbank-undercroft-skatepark-add37d5dc6a2456eb0d7607c6fbd884d?utm_medium=embed&utm_source=website&utm_campaign=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">Southbank Undercroft Skatepark</a>
        by <a href="https://sketchfab.com/artfletch?utm_medium=embed&utm_source=website&utm_campaign=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">artfletch</a>
        on <a href="https://sketchfab.com?utm_medium=embed&utm_source=website&utm_campaign=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">Sketchfab</a>
    </p>
</div>

    <h3>References</h3>
    <hr>
    </div>

    
</body>
</html>
