<!DOCTYPE html>
<html>
<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
    <style>
      body{background-color:black;color:white;height:100%;font-family:Arial,Helvetica,sans-serif;}
      /*h3{color:#00ff2b}*/
      a{color:#337AB7;font-weight:bold;text-decoration:none;}
      pre code {
        color:white;
        border: 1px solid #999;
        display: block;
        padding: 5px 10px;
        white-space:pre-wrap;
        word-wrap:break-word;

      }
      table{width:100%}
      td,tr,th{border:1px solid white;}
      td,th{width:25%;}
      div.formula{overflow-x:scroll;border:1px solid white;}

    </style>
</head>
<body class="content wrapper">
    <div style="background-color:black; color:white; padding:0 2% 0 2%; height: 100%; flex:1;overflow: auto;">

    <h3>SQL Syntax</h3>
    <hr>
    <ol>
    <li>Create Table
    <div style="display:flex;">
    <pre style="width:40vw;"><code>
CREATE TABLE table1 (   
    id INT PRIMARY KEY,
    name VARCHAR(20),
);
    </code></pre>

    <pre style="width:40vw;"><code>
CREATE TABLE table1 (   
    id INT,
    name VARCHAR(20),
    PRIMARY KEY(id),
);
    </code></pre>
    </div>
    
    <p>Other Constraints: <code>NOT NULL</code>,<code>UNIQUE</code>,<code>AUTO_INCREMENT</code>, <code>DEFAULT 'sth'</code>.</p>
    </li>

    <li>Access column format</li>
    <p><code>DESCRIBE table1;</code></p>

    <li>Delete table</li>
    <p><code>
DROP TABLE table1;
    </code></p>


    <li>Add column</li>
    <p><code>
ALTER TABLE table1 ADD discount DECIMAL(3,2);
    </code></p>
    <p>3 digits, 2 decimal places.</p>

    <li>Drop column</li>
    <p><code>
ALTER TABLE table1 DROP COLUMN discount;
    </code></p>


    <li>Insert data</li>
    <pre><code>
INSERT INTO table1 VALUES(1,'Jack');
INSERT INTO table1(id) VALUES(2);
INSERT INTO table1(name) VALUES('Leo'); #AUTO_INCREMENT
    </code></pre>
    <p>Notes: Cannot insert duplicate values.</p>


    <li>Update rows</li>
    <pre><code>
UPDATE table1;
SET name = 'Kim' # SET VAL1 = val1, VAL2 = val2, ...
WHERE id = 2; # OR, AND 
    </code></pre>

    <li>Delete rows</li>
    <pre><code>
DELETE FROM table1
WHERE id=1 AND name='Leo';
    </code></pre>

    <li>Queries
    <ol type="a">
    <li>Basic</li>
    <pre><code>
SELECT * FROM table1;
SELECT id,name FROM table1;
SELECT table1.id,table1.name FROM table1;
    </code></pre>
    <li>ARRANGE IN ORDER</li>
    <pre><code>
ORDER BY name;
ORDER BY id,name ASC; # order by id, then by name
ORDER BY name DESC;
    </code></pre>


    <li>Limit the number of rows</li>
    <pre><code>
LIMIT 10;
    </code></pre>


    <li>Select columns with specific values
    <pre><code>
WHERE id &gt 0  AND name = 'Jack';
WHERE id &gt 0  AND name &lt&gt 'Jack';
WHERE id &gt 0  AND name IN ('Jack','Leo');
    </code></pre>
    </li>
    </li>





    </ol>

    <h3>References</h3>
    <hr>
    </div>
    <script type="text/javascript" async
      src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>
    <script type="text/javascript" src="https://zcemycl.github.io/static/eqresp.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
    <script>mermaid.initialize({startOnLoad:true});</script>

    
</body>
</html>
