<!DOCTYPE html>
<html>
<head>

    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
    <style>
      body{background-color:black;color:white;height:100%;font-family:Arial,Helvetica,sans-serif;}
      /*h3{color:#00ff2b}*/
      a{color:#337AB7;font-weight:bold;text-decoration:none;}
    </style>
</head>
<body class="content wrapper">
    <div style="background-color:black; color:white; padding:0 2% 0 2%; height: 100%; flex:1;overflow: auto;">

    <h3>Simulation</h3>
    <hr>
    <h4>Troubleshootings</h4>
    <ol>
    <li>Resource not found: gazebo_ros. This is probably due to the fact that, I install npm for threejs, it contradicts with some packages of ros. <ul><li>sudo apt-get install ros-{version}-gazebo-ros-pkgs ros-{version}-gazebo-ros-control</li></ul></li>
    <li>ERROR: cannot launch node of type [rviz/rviz]: rviz<ul><li>sudo apt install ros-{version}-rviz</li></ul></li>
    <li>ERROR: cannot launch node of type [robot_state_publisher/robot_state_publisher]: robot_state_publisher<ul><li>sudo apt install ros-{version}-robot-state-publisher</li></ul></li>
    <li>ERROR: cannot launch node of type [gmapping/slam_gmapping]: gmapping
<ul><li>sudo apt install ros-{version}-gmapping</li></ul></li>
    </ol>
    <h4>Empty World with Manual control</h4>
    Primary Steps
    <ol>
    <li>Initiate ROS system.<code>roscore</code></li>
    <li>Call the gazebo simulation world.<code>roslaunch turtlebot3_gazebo turtlebot3_empty_world.launch</code></li>
    <li>Set up the behaviors of robot. <code>roslaunch turtlebot3_teleop turtlebot3_teleop_key.launch</code></li>
    <li>Visualize published topics while simulation is running. <code>roslaunch turtlebot3_gazebo turtlebot3_gazebo_rviz.launch</code></li>
    </ol>
    <h4>TurtleBot3 World</h4>
    Replace the 2nd step with <code>roslaunch turtlebot3_gazebo turtlebot3_world.launch</code>.
    <h4>TurtleBot3 House</h4>
    Replace the 2nd step with <code>roslaunch turtlebot3_gazebo turtlebot3_house.launch</code>.
    <h4>TurtleBot3 Collision Avoidance</h4>
    Replace the 3rd step with <code>roslaunch turtlebot3_gazebo turtlebot3_simulation.launch</code>.
    <h4>Virtual SLAM</h4>
    Replace the 4th step with <code>roslaunch turtlebot3_slam turtlebot3_slam.launch slam_methods:=gmapping</code>.
    <br>
    <br>
    <div style="text-align:center;">
      <video width="60%" controls autoplay loop>
          <source src="../../resources/turtlebot3.mp4" type="video/mp4">
      </video>
    </div>

    <h3>References</h3>
    <hr>
    <ol>
    <li><a href="https://emanual.robotis.com/docs/en/platform/turtlebot3/overview/#turtlebot">ROBOTIS e-Manual TurtleBot3</a></li>
    </ol>
    </div>

    
</body>
</html>
