<!DOCTYPE html>
<html>
<head>

    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
    <style>
      body{background-color:black;color:white;height:100%;font-family:Arial,Helvetica,sans-serif;}
      /*h3{color:#00ff2b}*/
      a{color:#337AB7;font-weight:bold;text-decoration:none;}
      pre code {
        color:white;
        border: 1px solid #999;
        display: block;
        padding: 5px 10px;
        white-space:pre-wrap;
        word-wrap:break-word;

      }
      table{width:100%}
      td,tr,th{border:1px solid white;text-align:center;}
      td,th{width:25%;}
    </style>
</head>
<body class="content wrapper">
    <div style="background-color:black; color:white; padding:0 2% 0 2%; height: 100%; flex:1;overflow: auto;">

    <h3>Ubuntu Installation</h3>
    <hr>
    <h4>Ubuntu Version Consideration</h4>
    <table>
      <tr>
        <td>Ubuntu</td>
        <td>16.04</td>
        <td>18.04</td>
        <td>20.04</td>
      </tr>
      <tr>
        <td>ROS</td>
        <td>Kinetic</td>
        <td>Melodic</td>
        <td>Noetic</td>
      </tr>
    </table>
    Most of the simulation packages, such as hector quadrotor, ur, etc. are supported by Kinetic ROS only. So here I choose ubuntu 16.04. Don't choose install the latest version since not a lot of packages are updated.
    <h4>GPU Support</h4>
    <p>Don't have to worry about the GPU driver. After installing Ubuntu, you can go to <code>Software & Updates</code> and choose to install <code>Additional Drivers</code> from NVIDIA Corporation. Lastly, you can check the connection via <code>nvidia-smi</code> and switch from integrated graphics to cuda <code>prime-select query|intel|nvidia</code>. </p>
    <p>One of the disadvantages of using ubuntu over windows is that, you cannot use intel integrated graphics and nvidia at the same time. </p> 
    <p>One fo the advantages of using ubuntu over windows is that, you can use one internal and one external gpu (thunderbolt usb-c) at the same time. But windows can't.</p>
    <h4>Steps</h4>
    <ol>
      <li></li>
    </ol>
    <h3>References</h3>
    <hr>
    <ol>
      <li><a href="http://wiki.ros.org/gazebo_ros_pkgs/">Gazebo ROS packages</a></li>
    </ol>
    </div>

    
</body>
</html>
